<%= render "layouts/errors", :object => @user %>

<h1> Sign up</h1>

<%= form_for @user do |f| %>
<div class="form-group">
  <%= f.text_field :name, placeholder: :name %>
</div>
<br>
<div class="form-group">
  <%= f.text_field :email, placeholder: :email %>
</div>
<br>
<div class="form-group">
  <%= f.password_field :password, placeholder: :password %>
</div>
<br>
<div class="form-group">
  <%= f.password_field :password_confirmation, placeholder: :password_confirmation %>
</div>
  <%= f.submit "Sign Up", class: 'btn btn-success'%>
<% end %>
