<div class="products">
  <% @products.each do |product| %>
  <div class="product">
    <a class="product-item" href="<%= product_path(product) %>">
      <%= image_tag product.image, :class => "style_image" %>
      <div class="product-caption"><em><%= product.name %></em><br>$<%= product.price %></div>
    </a>
  </div>
  <% end %>
</div>


<hr>
<% if current_user %>
  <% if current_user.admin === true %>
    <%= link_to "New Product", new_product_path %>
  <% end %>
<% end %>
